.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.mat-list-item {
  font: 400 13px Arial, sans-serif;
}

span {
  color: #f74c14;
  font: 700 15px 'Dosis', 'Tahoma', sans-serif;
}
